# IP address/hostname or https:// URI and login credentials of
# FRITZ! devices (e.g. FRITZ!Box or FRITZ!repeater)
HM_FRITZ_IP="fritz.box fritz.repeater"
HM_FRITZ_USER=
HM_FRITZ_SECRET=

# IP address/hostname of CCU device (CCU1, CCU2, RaspberryMatic)
HM_CCU_IP="homematic-ccu2.fritz.box"

# Name of a CCU variable we set for signaling general presence
HM_CCU_PRESENCE_VAR="Anwesenheit"
HM_CCU_PRESENCE_VAR_LIST="${HM_CCU_PRESENCE_VAR}.list"
HM_CCU_PRESENCE_VAR_STR="${HM_CCU_PRESENCE_VAR}.string"

# used names within variables
HM_CCU_PRESENCE_GUEST="Gast"
HM_CCU_PRESENCE_NOBODY="Niemand"
HM_CCU_PRESENCE_PRESENT="anwesend"
HM_CCU_PRESENCE_AWAY="abwesend"

# MAC/IP addresses of user devices
HM_USER_LIST=([John]=C9:85:51:8B:06:10 [Jane]='06:F7:E4:42:F4:4D 00:27:00:4D:1E:D5')

# Specify mode of HM_KNOWN_LIST variable setting
#
# guest - apply known ignore list to devices in a dedicated
#         guest WiFi only (requireѕ enabled guest WiFi in 
#         FRITZ! device)
# all   - apply known ignore list to all devices
HM_KNOWN_LIST_MODE=guest

# MAC/IP addresses of known devices that should be ignored from
# guest device recognition
HM_KNOWN_LIST="BD:05:43:E7:49:EE C0:3A:D5:65:E7:E3 24:C9:D4:43:13:6F"
