# IP address/hostname or https:// URI and login credentials of
# FRITZ! devices (e.g. FRITZ!Box or FRITZ!repeater)
HM_FRITZ_IP="fritz.box fritz.repeater"
HM_FRITZ_USER=
HM_FRITZ_SECRET=

# IP address/hostname of CCU device (CCU1, CCU2, RaspberryMatic)
HM_CCU_IP="homematic-ccu2.fritz.box"

# used names within variables
HM_CCU_PRESENCE_USER="Nutzer"
HM_CCU_PRESENCE_GUEST="Gast"
HM_CCU_PRESENCE_NOBODY="Niemand"
HM_CCU_PRESENCE_PRESENT="anwesend"
HM_CCU_PRESENCE_AWAY="abwesend"
HM_CCU_PRESENCE_LIST="list"
HM_CCU_PRESENCE_STR="string"

# Name of the CCU variable prefix used
HM_CCU_PRESENCE_VAR="Anwesenheit"

# number of seconds to wait between iterations
# (will run hm_pdetect in an endless loop)
HM_INTERVAL_TIME="15"

# maximum number of iterations if running in interval mode
# (default: 0=unlimited)
HM_INTERVAL_MAX="0"

# where to save the process ID in case hm_pdetect runs as
# a daemon
HM_DAEMON_PIDFILE="/tmp/hm_pdetect.pid"

# Processing logfile output name
# (default: no output)
HM_PROCESSLOG_FILE=

# maximum number of lines the logfile should contain
# (default: 500 lines)
HM_PROCESSLOG_MAXLINES="500"

# MAC/IP addresses of user devices
HM_USER_LIST=([John]=C9:85:51:8B:06:10 [Jane]='06:F7:E4:42:F4:4D 00:27:00:4D:1E:D5')

# Specify mode of HM_KNOWN_LIST variable setting
#
# guest - apply known ignore list to devices in a dedicated
#         guest WiFi/LAN only (requireѕ enabled guest WiFi/LAN in
#         FRITZ! device)
# all   - apply known ignore list to all devices
# off   - disabled guest recognition
HM_KNOWN_LIST_MODE="guest"

# MAC/IP addresses of known devices that should be ignored from
# guest device recognition
HM_KNOWN_LIST="BD:05:43:E7:49:EE C0:3A:D5:65:E7:E3 24:C9:D4:43:13:6F"
